<a href="https://colab.research.google.com/github/tsdeepthibijulal/jupyter_kernel_test/blob/main/W5_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#functions
def list_mini(l):
  mini = l[0]
  for i in range(len(l)):
    if(l[i] < mini):
      mini = l[i]
  return mini

def list_maxi(l):
  maxi = l[0]
  for i in range(len(l)):
    if(l[i] > maxi):
      maxi = l[i]
  return maxi  

def list_appendbefore(l,z):
  Al = []
  for i in range(len(z)):
    Al.append(z[i])
  for i in range(len(l)):
    Al.append(l[i])
  return Al  

def list_appendafter(l,z):
  Aa = []
  Aa = l + z ## you can write a for loop to append the list same like previous code
  return Aa 

def list_aveg(l):
  sum = 0
  for i in range(len(l)):
    sum = sum + l[i]
    aveg = sum / len(l)
  return(aveg)  

l = [1,10,3,5,9,2,-7, 4,12,6]
z = [100,200,300]
print(list_mini(l))  
print(list_maxi(l))
print(list_appendbefore(l,z)) 
print(list_appendafter(l,z))  
print(list_aveg(l))

-7
12
[100, 200, 300, 1, 10, 3, 5, 9, 2, -7, 4, 12, 6]
[1, 10, 3, 5, 9, 2, -7, 4, 12, 6, 100, 200, 300]
4.5

In [ ]:
#sorting using functions
# steps are:
#find out the minimum most element in the list 
#append that to a new list
#remove the minimum from the original list.
def list_sort(l):
  sort_l = []
  while(len(l) >0):
    mini = l[0]
    for i in range(len(l)):
      if(l[i] < mini):
        mini = l[i]
    sort_l.append(mini) # or we can use sort_l += [mini]
    l.remove(mini)
  return(sort_l) 

l = [90,15,23,56,78,45,51,10]   
print(list_sort(l))

[10, 15, 23, 45, 51, 56, 78, 90]

In [ ]:
# steps for sorting a list
#find out the minimum most element in the list 
#append that to a new list
#remove the minimum from the original list.
def mini_list(l):
  mini = l[0]
  for i in range(len(l)):
    if(l[i] < mini):
      mini = l[i]
  return mini

def list_sort(l):
  sort_l = []
  while(len(l) > 0):
    mini = mini_list(l)
    sort_l.append(mini)
    l.remove(mini)
  return sort_l  

l = [9,30,20,69,28,100,45,89]
print(list_sort(l))

[9, 20, 28, 30, 45, 69, 89, 100]

In [ ]:
#matrix multiplication using function
#Initialise C to zero.
#I need to consider two matrices A and B.
#I need to find the dot product of two lists.
# I need to pick ith row and jth column in a matrix

def initialize_mat(dim):
  C =[]
  for i in range(dim):
    C.append([])
  for i in range(dim):
    for j in range(dim):
      C[i].append(0)
  return C    

def dot_product(u,v):
  dim = len(u)
  ans = 0
  for i in range(dim):
    ans = ans + u[i] * v[i]
  return ans

def row(M,i):
  dim = len(M)
  l = []
  for k in range(dim):
    l.append(M[i][k])
  return(l)

def column(M,j):
  dim = len(M)
  l = [] 
  for k in range(dim):
    l.append(M[k][j])
  return l 

def mat_mul(A,B):
  dim = len(A)
  C = initialize_mat(dim) 
  for i in range(dim):
    for j in range(dim):
      C[i][j] = dot_product(row(A,i),column(B,j)) #ith row of A * jth column of B
  return C   

def input_matrix(Z):
  
  Z = []
  for i in range(dim):
    row = []
    for x in input().split(''):
      row.append(int(x))
    Z.append(row)  
  return(Z)

In [ ]:
#PPA-5
def factorial(n): #def is used for define a function
  if(n<0):
    return -1 
  elif(n==0):
    return 1
  else:
    fact = 1
    for i in range(1,n+1):
      fact = fact * i
    return fact 
n = int(input())
print(factorial(n))

0
1

In [ ]:
#whether given year is leap year or not
def check_leap_year(year):
  if(year % 100 == 0 and year % 400 == 0):
    return(True)
  elif(year % 100 != 0 and year %4 == 0):
    return(True)
  else:
     return False  
year = int(input())
print(check_leap_year(year))

1992
True

In [ ]:
def check_leap_year(year):
  if(year% 100 == 0 and year%400 == 0 ) or (year%100 != 0 and year % 4 ==0):
    return True
  else:
    return False  
year = int(input())
print(check_leap_year(year))

2004
True

In [ ]:
def maxval(a,b,c):
  max_val = 0
  if(a>b and a>c):
    max_val = a
  elif(b>a and b>c):
    max_val = b
  else:
    max_val = c
  return(max_val) 

a = int(input())
b = int(input())
c = int(input())  
print(maxval(a,b,c))

20
10
30
30

In [ ]:
def maxval(a,b,c):
  max_val = 0
  if(a<b):
    a,b = b,a
  if(a<c):
    a,c = c,a 
  return a

In [ ]:
def dim_equal(A,B):
  if((len(A) == len(B)) and (len(A[0]) == len(B[0]))):
    return(True)
  else:
    return False

In [ ]:
l = [0,1,2,3,4,5,6,7,8,9]
print(l[:-1]) # print first element to the n-1th element
print(l[::-1]) # it will take first element till nth element and print it in reverse order
print(l[2:8:2]) #take the 2 index element and print till 7th element step two means every alternate element get printed

[0, 1, 2, 3, 4, 5, 6, 7, 8]
[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]
[2, 4, 6]

In [15]:
#fibonacci number
def fibo(n):
  x=0
  y=1
  if(n==1):
    return 1
  else:
    for i in range( 1,n):
      z= x+y
      x=y
      y=z
    return z

n= int(input())
print(fibo(n))

9
34

In [40]:
#print the column as a list
def get_column(mat, col):
  col_list = []
  n = len(mat)
  for i in range(n):
    col_list.append(mat[i][col])
  return col_list

def get_row(mat,row):
  return mat[row]
  

mat = [[1,3,5],[2,4,6],[3,1,2]]
col= int(input())
#get_column(mat,1)
print(get_column(mat,col))

2
[5, 6, 2]

In [37]:
#get_row(mat,2)
print(get_row(mat,2))

[3, 1, 2]

In [42]:
def insert(L,x):
  s = []
  for i in L:
    if(i<=x):
      s.append(i)
  s.append(x) 
  for i in L:
    if(i>x):
      s.append(i) 
  return s
L =[1,3,5,7,9]  
x = int(input())
print(insert(L,x))

4
[1, 3, 4, 5, 7, 9]